<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SupportIssues.ascx.cs" Inherits="controls_useractivesupportissues" %>

  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><asp:Image ID="Image1" ImageUrl="~/App_Themes/Main/images/clearpixel.gif" width="1" height="10" runat="server" /></td>
    </tr>     
    <tr>
      <td align="right" class="MedDarkRedText"><a href="/support/viewactivesupportissues.aspx">View Active Support Issues (3)</a></td>
    </tr>
  </table>
