<%@ Control Language="C#" AutoEventWireup="true" CodeFile="AccountCharts.ascx.cs" Inherits="controls_useragingsummary"  %>
<%@ Register TagPrefix="dotnet"  Namespace="dotnetCHARTING" Assembly="dotnetCHARTING"%>
<HTML>
   <BODY>
       <DIV align="center">
           <dotnet:Chart id="Chart" Width="230px" Height="269px" runat="server"></dotnet:Chart>
       </DIV>
   </BODY>
</HTML>