<%@ Page Language="C#" MasterPageFile="~/MasterPages/Main.master" Theme="Main" AutoEventWireup="true"
    CodeFile="Default.aspx.cs" Inherits="services_default" %>

<asp:Content ID="LeftSectionTitleContent" ContentPlaceHolderID="LeftSectionTitleContent"
    runat="Server">
</asp:Content>
<asp:Content ID="RightSectionTitleContent" ContentPlaceHolderID="RightSectionTitleContent"
    runat="Server">
</asp:Content>
<asp:Content ID="MainBodyContent" ContentPlaceHolderID="MainBodyContent" runat="Server">
</asp:Content>
