﻿<%@ Page Language="C#" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">

	protected void Page_Load(object sender, EventArgs e)
	{
		SBNet.SBNetSqlMembershipProvider.LogoutUser();
		Response.Redirect(ResolveUrl("~/Logout.aspx"));
	}
	
	
</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
	<!-- Use Internet Explorer 9 Standards mode -->
	<meta http-equiv="x-ua-compatible" content="IE=9" />
    <title>Session Timeout</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
