<%@ Page Language="C#" MasterPageFile="~/MasterPages/HelpPage.master" Title="Account Tools Help" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HelpTitle" Runat="Server">
	Employee Portal Help
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="HelpContent" Runat="Server">
	<a name="TOP"></a>
	<a name="Topic 1"></a>
	<h3>Need Help?</h3>
	<p>If you are experiencing technical issues or you have a question related to this site, please contact Customer Support at 866-786-2358 (866-SUNBELT) or you can also email us at <a href="mailto:E-Service@sunbeltrentals.com">E-Service@sunbeltrentals.com</a>.</p>
</asp:Content>

