<%@ Page Language="C#" AutoEventWireup="true" CodeFile="QueryAccount.aspx.cs" Inherits="SBPortal_QueryAccount" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
	<!-- Use Internet Explorer 9 Standards mode -->
	<meta http-equiv="x-ua-compatible" content="IE=9" />
</head>
<body>
</body>
</html>
