<%@ Page Language="C#" MasterPageFile="~/MasterPages/Minor.master" AutoEventWireup="true" CodeFile="SBLogin.aspx.cs" Inherits="SBPortal_SBLogin" Title="SB Login" %>

<%@ Register Src="Controls/SunbeltLogin/SunbeltLogin.ascx" TagName="SunbeltLogin" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Scripts" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="LeftSectionTitleContent" Runat="Server">
    Sunbelt Employee Log In
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainBodyContent" Runat="Server">
	<uc1:SunbeltLogin id="SunbeltLogin1" runat="server" HideIntranetLink="true" HideHelp="true">
	</uc1:SunbeltLogin>
</asp:Content>

