﻿
/*This holds all the header info of the report */
TABLE.AccountSummaryReport
{
	Width: 600px; 
}
TABLE.AccountSummaryReport TD.AccountHeader
{
	font-size: 10pt;
	padding-right: 5px;
	vertical-align:middle;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #d6d0c4; /*#c0c0c0;*/
}
TABLE.AccountSummaryReport TD.Description
{
	font-size: 10pt;
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 20px;
	height: 25px;
	vertical-align: top;
}

/*This is the individual tables with the round corners around them */
TABLE.SubAccountSummaryReport
{
	width: 500px;
}
TABLE.SubAccountSummaryReport TD.Header
{
	text-transform: uppercase;
	font-size: 12px;
	padding-bottom: 10px;
}
TABLE.SubAccountSummaryReport TD.HeadingLeft
{
	font-weight: bold;
	font-size: 8pt;
	text-align: left;
}
TABLE.SubAccountSummaryReport TD.HeadingRight
{
	font-weight: bold;
	font-size: 8pt;
	text-align:right;
}

TABLE.SubAccountSummaryReport TD.ContentLeft
{
	font-size: 8pt;
	text-align: left;
}
TABLE.SubAccountSummaryReport TD.ContentRight
{
	padding-left: 5px;
	font-size: 8pt;
	text-align: right;
}
TABLE.SubAccountSummaryReport TD.ContentCenter
{
	padding-left: 5px;
	font-size: 8pt;
	text-align: center;
}