﻿/*******************************************************************************************************/

/************************* Gridview Styles *************************************************************/
.dgHeaderGreen
{
	color: White;
	font-weight: bold;
	font-size: 9pt;
	background-color: #4A843D;
	margin: 0px;
}

.dgHeaderGreen TH 
{
	font-size: 9pt;
	font-weight: bold;
	padding-right: 4px;
	padding-left: 4px;
	color: White;
	margin: 0px;
}
.dgHeaderGreen TH A
{
	font-size: 9pt;
	font-weight: bold;
	color: White;
	margin: 0px;
}

.dgHeaderGreenWithSorting
{
	font-size: 8pt;
	padding-right: 4px;
	padding-left: 4px;
	color: #151515;
	margin: 0px;
	cursor: pointer;	
}

.dgHeaderGreenWithSorting TH 
{
	font-size: 9pt;
	font-weight: bold;
	padding-right: 4px;
	padding-left: 4px;
	color: White;
	margin: 0px;
	cursor: pointer;
}
.dgHeaderGreenWithSorting TH A
{
	font-size: 9pt;
	font-weight: bold;
	color: White;
	margin: 0px;
	cursor: pointer;
}

.dgMain TD
{
	font-size: 8pt;
	padding-right: 4px;
	padding-left: 4px;
	color: #151515;
	margin: 0px;	
}

.dgMain TD A
{
	font-size: 8pt;
	padding-right: 4px;
	padding-left: 4px;
	color: #151515;
	margin: 0px;	
}

/**************************************************************************************************************/
.dgPreviewHeaderGreen
{
	color: White;
	font-weight: bold;
	font-size: 6pt;
	background-color: #4A843D;
	margin: 0px;
}

.dgPreviewHeaderGreen TH 
{
	font-size: 6pt;
	font-weight: bold;
	padding-right: 2px;
	padding-left: 2px;
	color: White;
	margin: 0px;
}
.dgPreviewHeaderGreen TH A
{
	font-size: 6pt;
	font-weight: bold;
	color: White;
	margin: 0px;
}

.dgMainPreview
{
	font-size: 5pt;
	padding-right: 2px;
	padding-left: 2px;
	color: Gray;
	margin: 0px;	
}

.dgMainPreview TD
{
	font-size: 5pt;
	padding-right: 2px;
	padding-left: 2px;
	color: Gray;
	margin: 0px;	
}

.dgMainPreview TD A
{
	font-size: 5pt;
	padding-right: 2px;
	padding-left: 2px;
	color: Gray;
	margin: 0px;	
}
/***************************************Quick Menu located directly below the reporting tabs*********************************/

.tblQuickMenu				{ font-size: 8pt; margin-left: 0px; color: white; border-bottom: solid 1px #4A843D; }
.tblQuickMenu TR A:link		{ color: #8ab580; text-decoration: none; }
.tblQuickMenu TR A:hover	{ color: White; text-decoration: none; }
.tblQuickMenu TR A:visited	{ color: White; text-decoration: none; }
.tblQuickMenu TD			{ vertical-align: text-bottom; color: #8ab580; padding-left: 10px; padding-right: 10px; }


/*****************************************Menu located to the left in the select report tab*****************************************/
.MenuCategory		{color: darkred; padding-left: 1px; text-transform: uppercase; font-weight: bold; }
.MenuReports		{color: Black; padding-left: 10px; padding-bottom: 10px; font-size: 8pt; font-weight: bold; }

/********************************************** Used for Hovering over Gridview ******************************/
.panel			{ border: solid 1px transparent; cursor: pointer; }
.panel:hover	{ background-color: #EDEDED; }

/**************************************************************************************************************/


/*********************** Linkbuttons for Reporting ***********************************************/
.ReportingHyperlinks 			{ color: #666666; font-size: 12pt; text-decoration: none; }
.ReportingHyperlinks A:link			{ color: #666666; font-size: 12pt; text-decoration: none; }
.ReportingHyperlinks A:visited		{ color: #666666; font-size: 12pt; text-decoration: none; }
.ReportingHyperlinks A:hover		{ color: #666666; font-size: 12pt; text-decoration: underline; }
.ReportingHyperlinks A:active		{ color: #666666; font-size: 12pt; text-decoration: none; }

/**************************************************************************************************/

/************************************ Hyperlinks for Report Menu ***********************************/

.ReportingMenuLinks					{ color: #666666; font-size: 8pt; text-decoration: none; padding-bottom: 2px; padding-top: 2px; }
.ReportingMenuLinks A:link			{ color: #666666; font-size: 8pt; text-decoration: none; padding-bottom: 2px; padding-top: 2px; }
.ReportingMenuLinks A:visited		{ color: #666666; font-size: 8pt; text-decoration: none; padding-bottom: 2px; padding-top: 2px; }
.ReportingMenuLinks A:hover			{ color: #666666; font-size: 8pt; text-decoration: underline; padding-bottom: 2px; padding-top: 2px; }
.ReportingMenuLinks A:active		{ color: #666666; font-size: 8pt; text-decoration: none; padding-bottom: 2px; padding-top: 2px;}

.SubMenuSelectedItemStyle				{ color: Black; font-size: 8pt; text-decoration: none; background-color: Silver; }
.SubMenuSelectedItemStyle A:link		{ color: Black; font-size: 8pt; text-decoration: none; }
.SubMenuSelectedItemStyle A:visited		{ color: Black; font-size: 8pt; text-decoration: none;}
.SubMenuSelectedItemStyle A:hover		{ color: Black; font-size: 8pt; text-decoration: underline;}
.SubMenuSelectedItemStyle A:active		{ color: Black; font-size: 8pt; text-decoration: none;}

/****************************************************************************************************/

/************************************* Report Tabs Styles****************************************/
.ReportingDiv
{
	width: 691px;
	height: 208px;
	vertical-align: top;
	margin-left: 0px;
	margin-top: 0px;
	border-top: solid 5px #7e7d7d;
	border-bottom: solid 2px #7e7d7d;
	border-left: solid 2px #7e7d7d;
	border-right: solid 2px #7e7d7d;
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
	padding-top: 150px;
	padding-right: 5px;
}

.ReportingTabs
{
	width: 691px;
	height: 348px;
	vertical-align: top;
	margin-left: 0px;
	margin-top: 0px;
	border-top: solid 5px #7e7d7d;
	border-bottom: solid 2px #7e7d7d;
	border-left: solid 2px #7e7d7d;
	border-right: solid 2px #7e7d7d;
	overflow: hidden;
	
}
.ReportingTabs TD.Header
{
	vertical-align: bottom; 
	font-weight: bold; 
	font-size: 12pt;
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	height: 25px;
}

.ReportingTabs TD.Description
{
	font-size: 10pt;
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 15px;
	height: 25px;
	vertical-align: top;
}

.ReportingTabs TD.ReportingMainContent
{
	height: 250px;
	width: 100%;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	vertical-align: middle;
}

.ReportingTabs TD.ReportingMainContentColumns
{
	height: 250px;
	width: 100%;
	/*padding-top: 10px;*/
	padding-right: 10px;
	padding-left: 50px;
	vertical-align: middle;
}

.ReportingTabs TD.Summary
{
	height: 250px;
	width: 100%;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	vertical-align: middle;
}

.ReportingTabs TD.ReportingButtons
{
	height: 23px;
	text-align: center;
	margin-bottom: 1px;
}

.ReportingTabs INPUT
{
	font-size: 8pt;
}

.ReportingTabs OPTION
{
	font-size: 8pt;
}

.ReportingSelect
{
	height: 341px;
	vertical-align: top;
	margin-left: 1px;
	margin-top: 0px;
	width: 460px;
	text-align: left;
	font-size: 8pt;
}
.ReportingSelect TD.Header
{
	vertical-align: middle; 
	font-weight: bold; 
	font-size: 12pt;
	padding-left: 7px;
	padding-bottom: 10px;
}

.ReportingSelect TD.Description
{
	font-size: 10pt;
	padding-left: 7px;
	margin-bottom: 20px;
}

.ReportingSelect TD.Body
{
	font-size: 8pt;
	padding-left: 7px;
	margin-bottom: 5px;
}
.ReportingSelect TD.BodyIndent
{
	font-size: 8pt;
	padding-left: 12px;
	margin-bottom: 20px;	
}

.ReportingWithNoSelection
{
	vertical-align: top;
	margin-left: 1px;
	padding-left: 10px;
	width: 471px;
	height: 348px;
	text-align: left;
	font-size: 8pt;	
	background-image: url(../../../Images/reports.jpg); 
	background-position: right; 
	background-repeat:no-repeat; 
	margin-top: 10px;
}

.ReportingWithNoSelection TD.Bullets
{
	color: #666666;
	font-weight: bold;
}

.ReportingWithNoSelection TD.Bottom
{
	color: Green; 
	font-size: 12pt; 
	font-weight: bold; 
	padding-left: 25px;	
}

.ReportingFilters
{
	font-size: 8pt;
}

.ReportingFilters TD.ColumnTitle
{
	font-weight: bold;
	font-size: 8pt;
	width: 200px;	
}

/***************************************************************************************************************/

.WatermarkText
{
	font-family: Verdana, Arial, Sans-Serif;
	vertical-align:middle;
	font-style: italic;
	font-size: 8pt;
	color: #333333;
}

.HyperLinkWithPointer
{
	cursor: pointer;
}
