﻿.SunbeltTab .ajax__tab_body 
{
    font-family:verdana,helvetica, Sans-Serif;
    font-size:8pt;
    text-align: left;
    vertical-align: bottom;
    /*margin-top: -moz-3px;*/
}

.SunbeltTab .ajax__tab_header
{
	height: 19px;	
}

.SunbeltTab .ajax__tab_hover .ajax__tab_inner
{
	padding-left: 5px;
	background: url(../../../App_Themes/Main/Images/tab_item20left.gif) no-repeat;
	height: 20px;
	/*background: url(../../../Images/SunbeltTabsLeftSelected.bmp) no-repeat;*/
	/*padding-left: 7px;*/
}

.SunbeltTab .ajax__tab_hover .ajax__tab_outer
{
	background: url(../../../App_Themes/Main/Images/tab_item20right.gif) no-repeat right;
	height: 20px;
	margin-right: 3px;
	/* background: url(../../../Images/SunbeltTabRightSelected.bmp) no-repeat right; */
	/*height: 22px;*/
	/*padding-right: 4px;*/
}

.SunbeltTab .ajax__tab_hover .ajax__tab_tab
{
	/*background-color: #EBEBEB; */
		background-image: url(../../../Images/tab_item20middle.bmp) repeat-x;
	color: #7e7d7d;
	font-family:verdana,helvetica, Sans-Serif;
    font-size:8pt;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 0px;
	/*background: url(../../../Images/SunbeltTabMiddleSelected.bmp) repeat-x; */
	/*height: 22px;*/
	/*color: #bad8b3;*/
	/*padding-top: 4px;
	padding-right: 2px;*/
}

/*  All Inactive Tabs */
.SunbeltTab .ajax__tab_tab
{
	background: url(../../../App_Themes/Main/Images/tab_item20middle.gif) repeat-x;
	color: #7e7d7d;
	font-family:verdana,helvetica, Sans-Serif;
    font-size:8pt;
    font-weight: bold;
    height: 20px;
	margin-bottom: 0px;
	/*color: #396e2d;
	background: url(../../../Images/SunbeltTabMiddleNotSelected.bmp) repeat-x;
	height: 22px;*/
}

.SunbeltTab .ajax__tab_inner
{
	padding-left: 5px;
	background: url(../../../App_Themes/Main/Images/tab_item20left.gif) no-repeat;
	height: 20px;
	/*background: url(../../../Images/SunbeltTabLeftNotSelected.bmp) no-repeat;
	height: 22px;
	padding-left: 7px;*/
}

.SunbeltTab .ajax__tab_outer
{
	background: url(../../../App_Themes/Main/Images/tab_item20right.gif) no-repeat right;
	height: 20px;
	margin-right: 3px;
	/*background: url(../../../Images/SunbeltTabRightNotSelected.bmp) no-repeat right;
	height: 22px;
	padding-right: 2px;*/
}

/* Active Tabs */
.SunbeltTab .ajax__tab_active .ajax__tab_tab
{
	color: White;
	/*background-color: #7e7d7d;*/
	background: url(../../../App_Themes/Main/Images/tab_selected20middle.gif) repeat-x; 
	height: 20px;
	font-family:verdana,helvetica, Sans-Serif;
    font-size:8pt;
    font-weight: bold;
    text-decoration: none;
	margin-bottom: 0px;
    /*background: url(../../../Images/SunbeltTabMiddleSelected.bmp) repeat-x;
	height: 22px; */
}

.SunbeltTab .ajax__tab_active .ajax__tab_inner
{
	padding-left: 5px;
	background: url(../../../App_Themes/Main/Images/tab_selected20left.gif) no-repeat;
	height: 20px;
	/*background: url(../../../Images/SunbeltTabsLeftSelected.bmp) no-repeat;
	height: 22px;
	padding-left: 7px;*/
}

.SunbeltTab .ajax__tab_active .ajax__tab_outer
{
	background: url(../../../App_Themes/Main/Images/tab_selected20right.gif) no-repeat right;
	height: 20px;
	margin-right: 3px;
	/*background: url(../../../Images/SunbeltTabRightSelected.bmp) no-repeat right;
	height: 22px;*/
}

.SunbeltTabLabels
{
	margin-top: 1px;
	padding-left: 2px;
	padding-right: 2px;
}
