<%@ Page Language="C#" MasterPageFile="~/MasterPages/Main.master" Theme="Main" AutoEventWireup="true" CodeFile="ContactSupport.aspx.cs" Inherits="services_default"  %>


<asp:Content ID="LeftSectionTitleContent" ContentPlaceHolderID="LeftSectionTitleContent" Runat="Server">
  Contact Support
</asp:Content>

<asp:Content ID="RightSectionTitleContent" ContentPlaceHolderID="RightSectionTitleContent" Runat="Server">
</asp:Content>

<asp:Content ID="MainBodyContent" ContentPlaceHolderID="MainBodyContent" Runat="Server">

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><asp:Image ImageUrl="~/App_Themes/Main/images/clearpixel.gif" width="1" height="16" runat="server" /></td>
  </tr>
  <tr>
    <td>This is a landing page.</td>
  </tr>
  <tr>
    <td><asp:Image ImageUrl="~/App_Themes/Main/images/clearpixel.gif" width="1" height="16" runat="server" /></td>
  </tr>
</table>

</asp:Content>

