﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="QueryAccountControl.ascx.cs" Inherits="SiteControls_QueryAccountControl_QueryAccountControl" %>
<%@ Register src="../QueryControl/QueryControl.ascx" tagname="QueryControl" tagprefix="uc1" %>
<uc1:QueryControl ID="qcAccount" runat="server" IsRequired="false" />&nbsp;<asp:ImageButton ID="btnGo"
 runat="server" AlternateText="" ImageUrl="~/App_Themes/Main/Buttons/go_25x20_darkred.gif"
 ImageAlign="AbsMiddle" onclick="btnGo_Click" />
