<%@ Control Language="C#" AutoEventWireup="true" CodeFile="UserHelp.ascx.cs" Inherits="UserHelpControl_UserHelp" %>
<div style="text-align: right;">
<table id="UserHelpNav" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td><asp:HyperLink ID="HyperLink2" runat="server" NavigateUrl="~/Help/ContactSupport.aspx">NEED HELP?</asp:HyperLink></td>
	</tr>
</table>
</div>
