﻿.CustomListBox
{
	font-size: 8pt;
}

.CustomListBox .ItemStyle
{
	width: 100%;
	color: Black;
	text-decoration: none;
}

.CustomListBox .SelectedItemStyle
{
	background-color: Silver;
	color: Black;
	width: 100%;
	border-bottom: solid 1px gray;
	border-top: solid 1px gray;
	border-right: solid 1px gray;
	border-left: solid 1px gray;
}

.CustomListBoxHyperLink
{
	color: Black;
	text-align: left;
	text-decoration: none;
	width: 100%;	
}

.CustomListBoxHyperLink .HOVER
{
	color: Black;
	text-align: left;
	text-decoration: none;
	width: 100%;
}

.CustomListBoxContent
{
	width: 246px;
	height: 130px;
	border-top: solid 1px #888;
	border-bottom: solid 1px #888;
	border-right: solid 1px #888;
	vertical-align: middle;
	background-color: #fff;
	padding-top: 5px;
	padding-left: 5px;
	left: -3;
	overflow: hidden;
}

.CustomListBoxBeak
{
	width: 17px;
	height: 130px; 
    background-image: url(../../Images/beak.gif);
    background-repeat:no-repeat; 
    background-position: center;	
}

.popupMenu 
{
	position:absolute;
	visibility:hidden;
	/*opacity:.9;
	filter: alpha(opacity=90);
	border: 1px solid black;*/
	font-size: 7pt;
	width: 250px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.popupHover
{
	color: Black;
	text-align: left;
	text-decoration: none;
	background-color: #cccccc;	
}