﻿ .lvErrors
{
	color: White;
	font-weight: bold;
	font-size: 8pt;
	margin: 0px;
}

.lvErrors TH 
{
	font-size: 8pt;
	font-weight: bold;
	padding-right: 4px;
	padding-left: 4px;
	color: White;
	margin: 0px;
	background-image: url(../../Images/GreenGradient.bmp);
}
.lvErrors TH A
{
	font-size: 8pt;
	font-weight: bold;
	color: White;
	margin: 0px;
}

.lvErrors TD
{
	font-size: 8pt;
	padding-right: 4px;
	padding-left: 4px;
	color: #151515;
	margin: 0px;
	font-weight: normal;
}

.lvErrors TD A
{
	font-size: 8pt;
	padding-right: 4px;
	padding-left: 4px;
	color: #151515;
	margin: 0px;
}

.lvErrors TD.PageUrl
{
	width: 100px;
}

.divErrors
{
	background-image: url(../../Images/GreenGradient.bmp);	
}  