﻿BODY.HelpFileBody
{
	margin: 0px;
	color: #091007;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	background-image: url(../../App_Themes/Main/Images/gear_background.gif);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}
TABLE.HelpFileHeader
{
	width: 100%;
	border-collapse: collapse;
}
TABLE.HelpFileHeader TD.left
{
	width: 75px;
	height: 50px;
	background-image: url(../../App_Themes/Main/Images/HelpHeaderLogo.gif);
}
TABLE.HelpFileHeader TD.right
{
	height: 50px;
	background-image: url(../../App_Themes/Main/Images/HelpHeaderBG.gif);
	padding-left: 30px;
	font-weight: bold;
	color: #ffffff;
	font-style: italic;
	font-size: 15px;
}
DIV.HelpFileContent
{
	margin: 4px;
}