/***********************************************************************************/
/**  HTML TAG STYLES
/***********************************************************************************/
BODY
{
	color: #091007;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
}
/*
BODY
{
	color: #7f7f7f;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
}

BODY A			{ color: #7f7f7f; font-weight: normal; font-size: 12px; }
BODY A:link		{ color: #7f7f7f; text-decoration: underline; }
BODY A:visited	{ color: #7f7f7f; text-decoration: underline; }
BODY A:hover	{ color: #7f7f7f; text-decoration: underline; }
BODY A:active	{ color: #7f7f7f; }

BODY BODY LI, BODY TD, BODY P
{  
	color: #7f7f7f;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
}

BODY SELECT, BODY INPUT
{
	COLOR: #7f7f7f;
	FONT-FAMILY: Verdana, Helvetica, sans-serif;
	FONT-SIZE: 12px;
}
*/
/************************************************************************************************/
/** CORE SITE STYLES
/************************************************************************************************/
.UserTopNavSearchBGImage
{
	background-image: url(../../MasterPages/Controls/TopNavSearch/Images/topnavsearch_bg.gif)
}

.UserTopNavBGImage
{
	background-image: url(../../MasterPages/Controls/UserTopNav/Images/usertopnav_bg.gif)
}

.HeaderBGImage
{
	background-image: url(../../MasterPages/controls/header/images/mast_main_bg.gif)
}

/************************************************************************************************/

.RedText
{
	color: #980815;
}

INPUT.TextRight
{
	text-align: Right;
}

@media print
{
	.NoDisplayForPrint
	{
		display: none;
	}
}

.SuggestValueText
{
	color: #091007;
}

.NoWrap
{
	white-space: nowrap;
}

/*************** BlackRoundCorners ***************/
TABLE.BlackRoundCorners
{
	border-collapse: collapse;
}
TABLE.BlackRoundCorners TD.rcbNoFont
{
	font-size: 1px;
	line-height: 1px;
}
TABLE.BlackRoundCorners TD.rcbTopLeft
{
	background-image: url(Images/pu_top_left.gif);
	width: 7px;
}
TABLE.BlackRoundCorners TD.rcbTopRight
{
	background-image: url(Images/pu_top_right.gif);
	width: 7px;
}
TABLE.BlackRoundCorners TD.rcbBottomLeft
{
	background-image: url(Images/pu_bottom_left.gif);
	width: 7px;
	height: 7px;
}
TABLE.BlackRoundCorners TD.rcbBottomRight
{
	background-image: url(Images/pu_bottom_right.gif);
	width: 7px;
	height: 7px;
}
TABLE.BlackRoundCorners TD.rcbTop
{
	background-color: #000000;
	color: #ffffff;
}
TABLE.BlackRoundCorners TD.rcbBottom
{
	background-image: url(Images/pu_bottom.gif);
	background-color: #ffffff;
	background-position-y: bottom;
	background-repeat: repeat-x;
}
TABLE.BlackRoundCorners TD.rcbLeft
{
	background-image: url(Images/pu_left.gif);
	background-color: #ffffff;
	background-position-x: left;
	background-repeat: repeat-y;
}
TABLE.BlackRoundCorners TD.rcbRight
{
	background-image: url(Images/pu_right.gif);
	background-color: #ffffff;
	background-position-x: right;
	background-repeat: repeat-y;
}
TABLE.BlackRoundCorners TD.rcbCenter
{
	background-color: #ffffff;
}

TABLE.BlackRoundCorners TD.rcbTitleText
{
	background-color: #000000;
	color: #ffffff;
	padding-top: 3px;
	padding-bottom: 4px;
	vertical-align: middle;
}
TABLE.BlackRoundCorners TD.rcbNoTitleText   /* no text in title */
{ 
	font-size: 7px;
	line-height: 7px;
	background-color: #000000;
}

@media print
{
	TABLE.BlackRoundCorners
	{
		border: 1px solid #000000;
	}
}

/*************** GreyRoundCorners ***************/
TABLE.GreyRoundCorners
{
	border-collapse: collapse;
}
TABLE.GreyRoundCorners TD.rcgNoFont
{
	font-size: 1px;
	line-height: 1px;
	background-color: #ebebeb;
}
TABLE.GreyRoundCorners TD.rcgTopLeft
{
	background-image: url(Images/corner_grey_topleft.gif);
	width: 9px;
	height: 8px;
}
TABLE.GreyRoundCorners TD.rcgTopRight
{
	background-image: url(Images/corner_grey_topright.gif);
	width: 9px;
	height: 8px;
}
TABLE.GreyRoundCorners TD.rcgBottomLeft
{
	background-image: url(Images/corner_grey_bottomleft.gif);
	width: 9px;
	height: 8px;
}
TABLE.GreyRoundCorners TD.rcgBottomRight
{
	background-image: url(Images/corner_grey_bottomright.gif);
	width: 9px;
	height: 8px;
}
TABLE.GreyRoundCorners TD.rcgTop
{
	background-color: #ebebeb;
}
TABLE.GreyRoundCorners TD.rcgBottom
{
	background-color: #ebebeb;
}
TABLE.GreyRoundCorners TD.rcgLeft
{
	background-color: #ebebeb;
}
TABLE.GreyRoundCorners TD.rcgRight
{
	background-color: #ebebeb;
}
TABLE.GreyRoundCorners TD.rcgCenter
{
	background-color: #ebebeb;
}

@media print
{
	TABLE.GreyRoundCorners
	{
		border: 1px solid #000000;
	}
}

/*************** DarkGreenRoundCorners ***************/
TABLE.DarkGreenRoundCorners
{
	border-collapse: collapse;
}
TABLE.DarkGreenRoundCorners TD.rcgNoFont
{
	font-size: 1px;
	line-height: 1px;
	background-color: #264736;
}
TABLE.DarkGreenRoundCorners TD.rcgTopLeft
{
	background-image: url(Images/corner_green_topleft.bmp);
	width: 9px;
	height: 8px;
}
TABLE.DarkGreenRoundCorners TD.rcgTopRight
{
	background-image: url(Images/corner_green_topright.gif);
	width: 9px;
	height: 8px;
}
TABLE.DarkGreenRoundCorners TD.rcgBottomLeft
{
	background-image: url(Images/corner_green_bottomleft.bmp);
	width: 9px;
	height: 8px;
}
TABLE.DarkGreenRoundCorners TD.rcgBottomRight
{
	background-image: url(Images/corner_green_bottomright.gif);
	width: 9px;
	height: 8px;
}
TABLE.DarkGreenRoundCorners TD.rcgTop
{
	background-color: #264736;
}
TABLE.DarkGreenRoundCorners TD.rcgBottom
{
	background-color: #264736;
}
TABLE.DarkGreenRoundCorners TD.rcgLeft
{
	background-color: #264736;
}
TABLE.DarkGreenRoundCorners TD.rcgRight
{
	background-color: #264736;
}
TABLE.DarkGreenRoundCorners TD.rcgCenter
{
	background-color: #264736;
}

@media print
{
	TABLE.DarkGreenRoundCorners
	{
		border: 1px solid #000000;
	}
}

/*************** GreenRoundCorners ***************/
TABLE.GreenRoundCorners
{
	border-collapse: collapse;
}
TABLE.GreenRoundCorners TD.rcgNoFont
{
	font-size: 1px;
	line-height: 1px;
	background-color: #00B03B;/*#00AC39;*/
}
TABLE.GreenRoundCorners TD.rcgTopLeft
{
	background-image: url(Images/corner_sbgreen_topleft.gif);
	width: 9px;
	height: 8px;
}
TABLE.GreenRoundCorners TD.rcgTopRight
{
	background-image: url(Images/corner_sbgreen_topright.gif);
	width: 9px;
	height: 8px;
}
TABLE.GreenRoundCorners TD.rcgBottomLeft
{
	background-image: url(Images/corner_sbgreen_bottomleft.gif);
	width: 9px;
	height: 8px;
}
TABLE.GreenRoundCorners TD.rcgBottomRight
{
	background-image: url(Images/corner_sbgreen_bottomright.gif);
	width: 9px;
	height: 8px;
}
TABLE.GreenRoundCorners TD.rcgTop
{
	background-color: #00B03B;
}
TABLE.GreenRoundCorners TD.rcgBottom
{
	background-color: #00B03B;
}
TABLE.GreenRoundCorners TD.rcgLeft
{
	background-color: #00B03B;
}
TABLE.GreenRoundCorners TD.rcgRight
{
	background-color: #00B03B;
}
TABLE.GreenRoundCorners TD.rcgCenter
{
	background-color: #00B03B;
}

@media print
{
	TABLE.DarkGreenRoundCorners
	{
		border: 1px solid #000000;
	}
}

/****************** BusyIndicator2 ************************/
.BusyIndicator2
{
	/* display: none; *//* NOTE: Startup code will hide this. */
	position: absolute;
}


/***********************************************************************************/
/**  ModalGrayBackground
/***********************************************************************************/
.ModalGrayBackground
{
      background-color:Gray;
      filter:alpha(opacity=70);
      opacity:0.7;
}

/***********************************************************************************/
/**  Section Title Text
/***********************************************************************************/
.SectionTitleText	{ color: #585858; font-size: 14px; text-transform: uppercase; font-weight: bold; }
.CustomerFeedBack
{
	color: #585858;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
}

/***********************************************************************************/
/**  BodyHeaderText
/***********************************************************************************/
.BodyHeaderText				{ color: #585858; font-size: 12px; text-transform: uppercase; font-weight: bold; }
.BodyHeaderText A:link		{ color: #585858; font-size: 12px; text-transform: uppercase; font-weight: bold; }
.BodyHeaderText A:visited	{ color: #585858; font-size: 12px; text-transform: uppercase; font-weight: bold; }
.BodyHeaderText A:hover		{ color: #585858; font-size: 12px; text-transform: uppercase; font-weight: bold; }
.BodyHeaderText A:active	{ color: #585858; font-size: 12px; text-transform: uppercase; font-weight: bold; }

/***********************************************************************************/
/**  WhiteHelveticaTableTitleText
/***********************************************************************************/
/*
.WhiteHelveticaTableTitleText				{ color: #FFFFFF; font-size: 15px; font-family:Helvetica; font-weight: bold; }
.WhiteHelveticaTableTitleText A:link		{ color: #FFFFFF; font-size: 15px; font-family:Helvetica; font-weight: bold; }
.WhiteHelveticaTableTitleText A:visited		{ color: #FFFFFF; font-size: 15px; font-family:Helvetica; font-weight: bold; }
.WhiteHelveticaTableTitleText A:hover		{ color: #FFFFFF; font-size: 15px; font-family:Helvetica; font-weight: bold; }
.WhiteHelveticaTableTitleText A:active		{ color: #FFFFFF; font-size: 15px; font-family:Helvetica; font-weight: bold; }
*/
/***********************************************************************************/
/**  SmallGreenBoldLinkText
/***********************************************************************************/
/*
.SmallGreenBoldLinkText				{ color: #00A200; font-size: 10px; font-weight: bold; text-decoration: none; }
.SmallGreenBoldLinkText A:link		{ color: #00A200; font-size: 10px; font-weight: bold; text-decoration: none; }
.SmallGreenBoldLinkText A:visited	{ color: #00A200; font-size: 10px; font-weight: bold; text-decoration: none; }
.SmallGreenBoldLinkText A:hover		{ color: #00A200; font-size: 10px; font-weight: bold; text-decoration: none; }
.SmallGreenBoldLinkText A:active	{ color: #00A200; font-size: 10px; font-weight: bold; text-decoration: none; }
*/
/************************************************************************************************/
/** STANDARD SITE STYLES
/************************************************************************************************/

/***********************************************************************************/
/**  TinyLightGreyText
/***********************************************************************************/
.TinyLightGreyText		{ color: #646464; font-size: 9px; }
.TinyLightGreyText A	{ color: #646464; }

/***********************************************************************************/
/**  SmallDarkGreyText
/***********************************************************************************/
.SmallDarkGreyText			{ color: #666666; font-size: 10px; }
.SmallDarkGreyText A		{ color: #666666; text-decoration: none; }
.SmallDarkGreyText A:hover	{ text-decoration: underline; }

/***********************************************************************************/
/**  StandardSmallBoldDarkGreyText
/***********************************************************************************/
.StandardSmallBoldDarkGreyText		{ color: #666666; font-size: 10px; font-weight: bold; line-height:normal; }
.StandardSmallBoldDarkGreyText A	{ color: #666666; }

/***********************************************************************************/
/**  SmallBlackText
/***********************************************************************************/
.SmallBlackText		{ color: #000000; font-size: 10px; }
.SmallBlackText A	{ color: #000000; }

/***********************************************************************************/
/**  MedBlackText
/***********************************************************************************/
.MedBlackText	{ color: #000000; font-size: 12px; }
.MedBlackText A	{ color: #000000; }

/***********************************************************************************/
/**  SmallDarkGreenText
/***********************************************************************************/
/*
.SmallDarkGreenText				{ color: #046a00; font-size: 10px; }
.SmallDarkGreenText A:link		{ color: #046a00; font-size: 10px; text-decoration: none; }
.SmallDarkGreenText A:visited	{ color: #046a00; font-size: 10px; text-decoration: none; }
.SmallDarkGreenText A:hover		{ color: #046a00; font-size: 10px; text-decoration: underline; }
.SmallDarkGreenText A:active	{ color: #046a00; font-size: 10px; text-decoration: none; }
*/
/***********************************************************************************/
/**  MedDarkGreenText
/***********************************************************************************/
/*
.MedDarkGreenText				{ color: #046a00; font-size: 12px; }
.MedDarkGreenText A:link		{ color: #046a00; font-size: 12px; }
.MedDarkGreenText A:visited		{ color: #046a00; font-size: 12px; }
.MedDarkGreenText A:hover		{ color: #046a00; font-size: 12px; }
.MedDarkGreenText A:active		{ color: #046a00; font-size: 12px; }
*/
/***********************************************************************************/
/**  SmallDarkRedText
/***********************************************************************************/
/*
.SmallDarkRedText				{ color: #9a0000; font-size: 10px; }
.SmallDarkRedText A:link		{ color: #9a0000; font-size: 10px; text-decoration: none; }
.SmallDarkRedText A:visited		{ color: #9a0000; font-size: 10px; text-decoration: none; }
.SmallDarkRedText A:hover		{ color: #9a0000; font-size: 10px; text-decoration: underline; }
.SmallDarkRedText A:active		{ color: #9a0000; font-size: 10px; text-decoration: none; }
*/
/***********************************************************************************/
/**  MedDarkRedText
/***********************************************************************************/
.MedDarkRedText			{ color: #9a0000; font-size: 12px; }
.MedDarkRedText A		{ color: #9a0000; text-decoration: none; }
.MedDarkRedText A:hover	{ text-decoration: underline; }

/***********************************************************************************/
/**  SmallRedText
/***********************************************************************************/
/*
.SmallRedText				{ color: #FF0000; font-size: 10px; }
.SmallRedText A:link		{ color: #FF0000; font-size: 10px; text-decoration: none; }
.SmallRedText A:visited		{ color: #FF0000; font-size: 10px; text-decoration: none; }
.SmallRedText A:hover		{ color: #FF0000; font-size: 10px; text-decoration: underline; }
.SmallRedText A:active		{ color: #FF0000; font-size: 10px; text-decoration: none; }
*/
/***********************************************************************************/
/**  MedRedText
/***********************************************************************************/
.MedRedText			{ color: #FF0000; font-size: 12px; }
.MedRedText A		{ color: #FF0000; text-decoration: none; }
.MedRedText A:hover	{ text-decoration: underline; }

/***********************************************************************************/
/**  SmallWhiteText
/***********************************************************************************/
.SmallWhiteText			{ color: #FFFFFF; font-size: 10px; }
.SmallWhiteText A		{ color: #FFFFFF; text-decoration: none; }
.SmallWhiteText A:hover	{ text-decoration: underline; }

/***********************************************************************************/
/**  MedWhiteText
/***********************************************************************************/
.MedWhiteText			{ color: #FFFFFF; font-size: 12px; }
.MedWhiteText A			{ color: #FFFFFF; text-decoration: none; }
.MedWhiteText A:hover	{ text-decoration: underline; }

/***********************************************************************************/
/**  SmallBodyText
/***********************************************************************************/
.SmallBodyText				{ line-height:normal; color: #7E7D7D; font-size: 10px; }
.SmallBodyText A:link		{ line-height:normal; color: #7E7D7D; font-size: 10px; }
.SmallBodyText A:visited	{ line-height:normal; color: #7E7D7D; font-size: 10px; }
.SmallBodyText A:hover		{ line-height:normal; color: #7E7D7D; font-size: 10px; }
.SmallBodyText A:active		{ line-height:normal; color: #7E7D7D; font-size: 10px; }