﻿/*********************** HorizontalTab *****************************/

DIV#HorzTabs .Tab
{
	cursor: hand;
	font-weight: bold;
	font-size: 10px;
	color: #7e7d7d;
	background-color: #ebebeb;
	padding-left: 6px;
	padding-right: 6px;
}

DIV#HorzTabs .Tab A
{
	color: #7e7d7d;
	text-decoration: none;
}

DIV#HorzTabs .Tab A:hover
{
	text-decoration: underline;
}

DIV#HorzTabs .Selected
{
	font-weight: bold;
	font-size: 10px;
	color: #ffffff;
	background-color: #7e7d7d;
	padding-left: 6px;
	padding-right: 6px;
}

DIV#HorzTabs .Selected A
{
	color: #ffffff;
	text-decoration: none;
}

DIV#HorzTabs .Selected A:hover
{
	text-decoration: underline;
}

.HorzTabsMultiView
{
	border-top: #7e7d7d 3px solid;
	border-bottom: #7e7d7d 2px solid;
	border-left: #7e7d7d 2px solid;
	border-right: #7e7d7d 2px solid;
}

/*********************** TopNav *****************************/
TABLE#TopNav
{
	background-color: #000000;
	background-image: url(../../MasterPages/Controls/TopNav/Images/nav_bg.gif);
}

/*********************** UserLeftNav *****************************/
TABLE#UserLeftNav
{
	width: 197px;
}

TABLE#UserLeftNav TD
{
	padding-left: 10px;
	color: #000000;
	font-size: 10px;
	background-color: #ededed;
	border-left: #cccccc 1px solid;
	border-right: #cccccc 1px solid;
}

TABLE#UserLeftNav .Link
{
	padding-top: 6px;
	padding-bottom: 6px;
}

TABLE#UserLeftNav .Link A
{
	padding-left: 10px;
	padding-right: 10px;
	color: #046a00;
	font-size: 10px;
	background-image: url(../../App_Themes/Main/Images/arrow_green.gif);
	background-position: left center;
	background-repeat: no-repeat;
	text-decoration: none;
}
TABLE#UserLeftNav .Link2 A
{
	padding-left: 1px;
	padding-right: 1px;
	color: #046a00;
	font-size: 10px;
	background-position: left center;
	background-repeat: no-repeat;
	text-decoration: none;
}
TABLE#UserLeftNav A:hover
{
	text-decoration: underline;
}

TABLE#UserLeftNav .Address TD
{
	border: 0px;	
	padding-left: 12px;
}

TABLE#UserLeftNav .Phone TD
{
	border: 0px;	
}

TABLE#UserLeftNav .Phone .Left
{
	padding-right: 0px;
}

TABLE#UserLeftNav .Spacer
{
	line-height: 8px;
	font-size: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
}

TABLE#UserLeftNav .Line
{
	line-height: 1px;
	font-size: 1px;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: #cccccc;
}

TABLE#UserLeftNav .Bottom
{
	border: 0px;	
	height: 14px;
	line-height: 14px;
	font-size: 14px;
	background-color: Transparent;
	background-image: url(../../MasterPages/Controls/UserLeftNav/Images/leftnav_accountinfo_tablebottom.gif);
}

/*********************** LeftNav *****************************/
TABLE#LeftNav
{
}

TABLE#LeftNav TD
{
	padding-top: 4px;
	padding-bottom: 4px;
}

TABLE#LeftNav TD A
{
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 8px;
	background-image: url(../../App_Themes/Main/Images/arrow_grey.gif);
	background-position: left center;
	background-repeat: no-repeat;
}

TABLE#LeftNav .Header
{
	padding-top: 15px;
}

TABLE#LeftNav .SubHeader
{
	padding-top: 10px;
}

TABLE#LeftNav .Spacer
{
	line-height: 8px;
	font-size: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
}

/*********************** UserHelpNav *****************************/
TABLE#UserHelpNav
{
}

TABLE#UserHelpNav A
{
	color: #707070;
	text-decoration: none;
	font-weight: bold;
	font-size: 10pt;
	text-transform: uppercase;
}

TABLE#UserHelpNav A:hover
{
	text-decoration: underline;
}


TABLE#tblMinorMaster
{
	height: 600px;
	background-color: #ffffff;
	text-align: left;
}

TABLE#tblMinorMaster TD#tdMinorHeader
{
	height: 105px;
}

TABLE#tblMinorMaster TD#tdMinorTitle
{
	height: 47px;
	padding-right: 10px;
	padding-left: 10px;
}

TABLE#tblMinorMaster TD#tdMinorContent
{
	height: 95%;
	width: 760px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	vertical-align: top;
}

.WatermarkExtender
{
	color: #707070;
}
