﻿/**** Tab divs ****/
DIV#AccountTools
{
}

TABLE#tblAccountOverview TD.TopCell
{
	vertical-align: top;
	padding-bottom: 10px;
}

TABLE#AccountToolsBottom TD.LeftCell
{
	vertical-align: top;
	padding-right: 5px;
}

TABLE#AccountToolsBottom TD.RightCell
{
	vertical-align: top;
	padding-left: 5px;
}

TABLE#AccountToolsBottom TD.RightTop
{
	vertical-align: top;
	padding-bottom: 10px;
}

TABLE#AccountToolsBottom TD.RightBottom
{
	vertical-align: bottom;
}


/**** User control outer most table ****/
TABLE.AccountTools
{
	width: 100%;
	height: 100%;
}

TABLE.AccountTools TD.SearchSliderOut
{
	width: 15px;
	vertical-align: top;
	padding-top: 50px;
 	background-color: #cccccc;
}

TABLE.AccountTools TD.SearchSliderIn
{
	width: 15px;
	vertical-align: top;
	padding-top: 50px;
}

TABLE.AccountTools TD.BottomBar
{
	height: 26px;
	vertical-align: middle;
	text-align: right;
 	background-color: #cccccc;
	color: #000000;
	font-size: x-small;
	/*line-height: 5px;*/
}

TABLE.AccountTools TD.BottomBar A
{
	color: #091007;
}

TABLE.AccountTools INPUT
{
	font-size: 8.5pt;
}

/**** Account tool GridViews ****/
TABLE.AccountToolsGV
{
	width: 668px;
}

TABLE.AccountToolsGV CAPTION
{
	background-color: #7e7d7d;
	font-size: x-small;
	color: #ffffff;
	padding-left: 4px;
	padding-bottom: 4px;
	font-style: italic;
	text-align: left;
	font-weight: bold;
}

TABLE.AccountToolsGV .DefaultHeader
{ 
	background-color: #7e7d7d;
	Font-Size: X-Small; 
	Color: #ffffff;
	border-bottom: solid 1px black;
}

TABLE.AccountToolsGV .DefaultHeader A
{
	color: #ffffff;
	/*text-decoration: none;*/
}

TABLE.AccountToolsGV .NoSortingApplied
{ 
	background-color: #7e7d7d;
	Font-Size: X-Small; 
	Color: #ffffff;
	border-bottom: solid 1px black;
	background-image: url(../../Images/sort_none.gif);
    background-repeat: no-repeat;
    background-position: center right;
}

TABLE.AccountToolsGV .NoSortingApplied A
{
	color: #ffffff;
	/*text-decoration: none;*/
}

TABLE.AccountToolsGV .SortAscending
{
	background-color: #cccccc;
	border-bottom: solid 1px black;
	padding-left: 5px;
	padding-right: 5px;
	background-image: url(../../Images/sort_asc.gif);
    background-repeat: no-repeat;
    background-position: center right;
}

TABLE.AccountToolsGV .SortAscending A
{
	color: Black;
	/* text-decoration: none; */
}

TABLE.AccountToolsGV .SortDescending
{
	background-color: #cccccc;
	border-bottom: solid 1px black;
	padding-left: 5px;
	padding-right: 5px;
	background-image: url(../../Images/sort_desc.gif);
    background-repeat: no-repeat;
    background-position: center right;
}

TABLE.AccountToolsGV .SortDescending A
{
	color: Black;
	/* text-decoration: none; */
}

TABLE.AccountToolsGV CAPTION A
{
	color: #ffffff;
}

TABLE.AccountToolsGV TD
{
	padding-right: 3px;
	padding-left: 3px;
}

TABLE.AccountToolsGV .RowStyle
{
	background-color: #ffffff;
}

TABLE.AccountToolsGV .RowStyle A
{
	color: #000000;
}

TABLE.AccountToolsGV .RowStyle:hover
{
	background-color: #cccccc;
}

TABLE.AccountToolsGV .RowStyleNH /* no hover */
{
	background-color: #ffffff;
}

TABLE.AccountToolsGV .RowStyleNH A
{
	color: #000000;
}

TABLE.AccountToolsGV .AlternatingRowStyle
{
	background-color:#E0E0E0;
}

TABLE.AccountToolsGV .AlternatingRowStyle A
{
	color: #000000;
}

TABLE.AccountToolsGV .AlternatingRowStyle:hover
{
	background-color: #cccccc;
}

TABLE.AccountToolsGV .AlternatingRowStyleNH	  /* no hover */
{
	background-color:#E0E0E0;
}

TABLE.AccountToolsGV .AlternatingRowStyleNH A
{
	color: #000000;
}

TABLE.AccountToolsGV .SelectedRowStyle
{
	background-color:#B6B6B6;
}

TABLE.AccountToolsGV .SelectedRowStyle TD
{
	color: #FFFFFF;
}

TABLE.AccountToolsGV .SelectedRowStyle A
{
	color: #FFFFFF;
}

TABLE.AccountToolsGV .SelectedRowStyle:hover TD
{
	color: #000000;
}

TABLE.AccountToolsGV .Action
{
	white-space: nowrap;
}

TABLE.AccountToolsGV .Textright
{
	text-align: Right;
}

TABLE.AccountToolsGV .NoWrap
{
	white-space: nowrap;
}

TABLE.AccountToolsGV INPUT
{
	font-size: 8pt;
}

TABLE.AccountToolsGV SELECT
{
	font-size: 8pt;
}


/****************************************************************************/

TABLE.GreenGV
{
}

TABLE.GreenGV TD
{
	padding-right: 3px;
	padding-left: 3px;
}

TABLE.GreenGV .RowStyle
{
	background-color: #ffffff;
}

TABLE.GreenGV .RowStyle A
{
	color: #000000;
}

TABLE.GreenGV .AlternatingRowStyle
{
	background-color:#D9EBD5;
}

TABLE.GreenGV .AlternatingRowStyle A
{
	color: #000000;
}

TABLE.GreenGV .EmptyDataRowStyle
{
	color: #000000;
	background-color: #ffffff;
}

TABLE.GreenGV .EmptyDataRowStyle TD
{
	height: 100px;
	width: 500px;
}

TABLE.GreenGV .Action
{
	white-space: nowrap;
}

TABLE.GreenGV .Textright
{
	text-align: Right;
}

TABLE.GreenGV .NoWrap
{
	white-space: nowrap;
}

TABLE.GreenGV INPUT
{
	font-size: 8pt;
}

TABLE.GreenGV SELECT
{
	font-size: 8pt;
}

/****************************************************************************/
/**** Account tool GridView - simple ****/
TABLE.AccountToolsGVS
{
}

TABLE.AccountToolsGVS CAPTION
{
	background-color: #4B843D;
	font-size: x-small;
	color: #F3F9F2;
	padding-bottom: 4px;
	font-style: italic;
	text-align: left;
}

TABLE.AccountToolsGVS CAPTION A
{
	color: #F3F9F2;
}

TABLE.AccountToolsGVS TD
{
	padding-right: 3px;
	padding-left: 3px;
}

TABLE.AccountToolsGVS .RowStyle
{
	background-color: #ffffff;
}
/*
TABLE.AccountToolsGVS .RowStyle:hover
{
	background-color: #A5D19B;
}
*/
TABLE.AccountToolsGVS .AlternatingRowStyle
{
	background-color:#D9EBD5;
}
/*
TABLE.AccountToolsGVS .AlternatingRowStyle:hover
{
	background-color: #A5D19B;
}
*/
TABLE.AccountToolsGVS .Action
{
	white-space: nowrap;
}

TABLE.AccountToolsGVS .Textright
{
	text-align: Right;
}

TABLE.AccountToolsGVS INPUT
{
	font-size: 8pt;
}

TABLE.AccountToolsGVS SELECT
{
	font-size: 8pt;
}
/****  END Account tool GridViews - simple ****/
/****************************************************************************/

/** Use this for any DIV that needs scrolling. **/
DIV.VerticalScrolling
{
	overflow-x: hidden;	/* for IE */
	overflow-y: scroll !important;	/* for IE */
	overflow: auto;		/* for Opera */
	overflow: -moz-scrollbars-vertical !important; /* for Mozilla FF */
}

/*** Account tools scrolling DIV ***/
DIV.AccountToolsScrollingDIV
{
	height: 300px;
	overflow-x: hidden;	/* for IE */
	overflow-y: scroll !important;	/* for IE */
	overflow: auto;		/* for Opera */
	overflow: -moz-scrollbars-vertical !important; /* for Mozilla FF */
}

/*** Search slider ***/
TD.tdSearchInfo
{
	background-color: #ebebeb;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	border-right: #7e7d7d thin solid;
	border-top: #7e7d7d thin solid;
	border-left: #7e7d7d thin solid;
	border-bottom: #7e7d7d thin solid;
}

TABLE.tblSearchContent
{
	font-size: 8.5pt;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

TABLE.tblSearchContent INPUT
{
	font-size: 8.5pt;
}

TABLE.tblSearchContent SELECT
{
	
	font-size: 8.5pt;
}

TABLE.tblSearchContent TD
{
	text-align: left;
}

/**** Detail popup ****/


DIV.divDetailInfo
{
	display: none;
	position: absolute;
}

TABLE.tblDetailTitle
{
}

TABLE.tblDetailTitle .Title
{
	font-size: 10pt;
	padding-bottom: 8px;
}

TABLE.tblDetailTitle .TitleLeft
{
	/*background-image: url(images/dlg_gr_titlebar2.png);*/
	background-color: #000000;
	background-repeat: repeat-x;
	font-size: 10pt;
	font-weight: bold;
	color: #ffffff;
	text-align: left;
}

TABLE.tblDetailTitle .TitleRight
{
	/*background-image: url(images/dlg_gr_titlebar2.png);*/
	background-color: #000000;
	background-repeat: repeat-x;
 	text-align: right;
}

TABLE.tblDetailInfo
{
	font-size: 8pt;
	font-family: Arial;
}

TABLE.tblDetailInfo INPUT
{
	font-size: 8pt;
	font-family: Arial;
}
TABLE.tblDetailInfo SELECT
{
	font-size: 8pt;
	font-family: Arial;
}
TABLE.tblDetailInfo TEXTAREA
{
	font-size: 8pt;
	font-family: Arial;
}

TABLE.tblDetailInfo HR
{
	margin-bottom: 0px;
}

TABLE.tblDetailInfo TD
{
	/*white-space: nowrap;*/
}

TABLE.tblDetailInfo .SubTitle
{
	font-size: 9pt;
	font-weight: bold;
	color: #980815;
}

TABLE.tblDetailInfo .Legend
{
	font-weight: bold;
	color: Black;
}

TABLE.tblDetailInfo .Rate
{
	padding-left: 6px;
	text-align: right;
}

.pnlDetailInfo legend
{
	color:#014c1a;
}

/*** Account Summary Control ***/
TABLE#tblAccountSummary
{
	width: 240px;
	height: 70px;
}

TABLE#tblAccountSummary TD.topLeftCell
{
	width: 130px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #8AB580;
	padding-left: 3px;
}

TABLE#tblAccountSummary TD.topRightCell
{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #8AB580;
	padding-right: 1px;
}

TABLE.tblReturnEquipmentConfirmation
{
	font-family: Tahoma, Verdana, Narrow, Sans-Serif;
}

TABLE.tblReturnEquipmentConfirmation TR.Header
{
	Color: White;
	text-align: center;
	border-bottom-style:solid;
}

TABLE.tblReturnEquipmentConfirmation TH.Left
{
	padding: 1px 1px 1px 0px;
}

TABLE.tblReturnEquipmentConfirmation TH.Right
{
	padding: 1px 0px 1px 0px;
}

TABLE.tblReturnEquipmentConfirmation TD.Left
{
	padding-top: 1px;
	font-size: small;
	font-family: Tahoma Verdana Arial;
}

TABLE.tblReturnEquipmentConfirmation TD.Center
{
	padding-top: 2px;
}

TABLE.tblReturnEquipmentConfirmation TD.Right
{
	padding: 1px 0px 1px 0px;
}

TABLE.tblReturnEquipmentConfirmation TD.FooterLeft
{
	padding: 5px 0px 5px 0px;
	height: 100%;
}

TABLE.tblReturnEquipmentConfirmation TD.FooterCenter
{
	padding: 5px 0px 5px 0px;
	height: 100%;
	border-bottom-style: none;
}

TABLE.tblReturnEquipmentConfirmation TD.FooterRight
{
	padding: 5px 0px 5px 0px;
	height: 100%;
}

/****************************************************************/



TABLE.MultiLineDDL_GV .RowStyle
{
	background-color: #ffffff;
}

TABLE.MultiLineDDL_GV .RowStyle A
{
	color: #000000;
}

TABLE.MultiLineDDL_GV .RowStyle:hover
{
	background-color: #cccccc;
}

TABLE.MultiLineDDL_GV .AlternatingRowStyle
{
	background-color:#F0F0F0;
}

TABLE.MultiLineDDL_GV .AlternatingRowStyle A
{
	color: #000000;
}

TABLE.MultiLineDDL_GV .AlternatingRowStyle:hover
{
	background-color: #cccccc;
}

/*****************************************************************/

.UserAccess
{
	width: 100%;
	height: 100%;
	text-align: center;
	font-family: Verdana;
	font-weight: 700;
	color: #707070;
}