﻿table.tblCalContainer
{
	font-family: Verdana, Arial, Sans-Serif;
	border-right: #212121 1px solid;
	border-top: #212121 1px solid;
	border-left: #212121 1px solid;
	border-bottom: #212121 1px solid;
	border-collapse: collapse;
	font-size: 9pt;
	color: #333333;
	background-color: #FFFFFF;
}

/* Title bar left */
table.tblCalContainer td.calTBL
{
	font-size: 7pt;
	color: #F2F9F8;
	background-color: #212121;
	text-align: left;
	vertical-align: middle;
}
/* Title bar right */
table.tblCalContainer td.calTBR
{
	font-size: 7.5pt;
	color: #F2F9F8;
	background-color: #212121;
	text-align: right;
	vertical-align: middle;
}
/* tblCalendar cell */
table.tblCalContainer td.calTBB
{
	background-color: #152D28;
}

table.tblCalendar
{
	background-color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
}

/* Week day */
table.tblCalendar td.calWD
{
	cursor: pointer;
	background-color: #FFFFFF;
	color: #333333;
	text-align: center;
}
table.tblCalendar td.calWD:hover
{
	background-color: #D3D3D3;
}

/* Week day prior/next */  
/* Evanko B0E0E6 */  
table.tblCalendar td.calWDPN
{
	cursor: pointer;
	background-color: #FFFFFF;
	color: #CCCCCC;
	text-align: center;
}
table.tblCalendar td.calWDPN:hover
{
	background-color: #D3D3D3;
	color: #333333;
}

/* Weekend day */
table.tblCalendar td.calWE
{
	cursor: pointer;
	background-color: #FFFFFF;
	color: #333333;
	text-align: center;
}
table.tblCalendar td.calWE:hover
{
	background-color: #D3D3D3;
}

/* Weekend prior/next */
table.tblCalendar td.calWEPN
{
	cursor: pointer;
	background-color: #FFFFFF;
	color: #CCCCCC;
	text-align: center;
}
table.tblCalendar td.calWEPN:hover
{
	background-color: #D3D3D3;
	color: #333333;
}

/* Today */
table.tblCalendar td.calTD
{
	background-color: #E9E9E9;
	cursor: pointer;
	text-align: center;
}
table.tblCalendar td.calTD:hover
{
	background-color: #D3D3D3;
	color: #333333;
}

/* Current day */
table.tblCalendar td.calCD
{
	border: 1px solid #000000;
	background-color: #D3D3D3;
	color: #333333;
	text-align: center;
}

/* BC Current day */
table.tblCalendar td.calUnavailableDay
{
	cursor:default;
	background-color: #FFFFFF;
	color: #CCCCCC;
	text-align: center;
}

/* AC Current day */
table.tblCalendar td.calCurrentMonth
{
	cursor: default;
	background-color: #FFFFFF;
	color: #333333;
	text-align: center;
     font-weight:bold;
}
table.tblCalendar td.calCurrentMonth:hover
{
	cursor:pointer;
	background-color: #D3D3D3;
}

/* Not Current month */
table.tblCalendar td.calOutsideCurrentMonth
{
	cursor: default;
	background-color: #FFFFFF;
	color: #333333;
	text-align: center;
}
table.tblCalendar td.calOutsideCurrentMonth:hover
{
	background-color: #D3D3D3;
}

/* Day list */
table.tblCalendar tr.calDL
{
}

/* Month-Year */
table.tblCalendar tr.calMY
{
	background-color: #515151;
	color: #FFFFFF;
	line-height: 6px;
	font-weight: bold;
}
table.tblCalendar tr.calMY td
{
	text-align: center;
	vertical-align: middle;
}
table.tblCalendar tr.calMY A
{
	color: #FFFFFF;
}
