﻿table.tblTpContainer
{
	font-family: Verdana, Arial, Sans-Serif;
	border-right: #212121 1px solid;
	border-top: #212121 1px solid;
	border-left: #212121 1px solid;
	border-bottom: #212121 1px solid;
	border-collapse: collapse;
	font-size: 9pt;
	color: #333333;
	background-color: #FFFFFF;
}
/* Title bar left */
table.tblTpContainer td.tpTBL
{
	font-size: 7pt;
	color: #F2F9F8;
	background-color: #212121;
	text-align: left;
	vertical-align: middle;
}
/* Title bar right */
table.tblTpContainer td.tpTBR
{
	font-size: 7.5pt;
	color: #F2F9F8;
	background-color: #212121;
	text-align: right;
	vertical-align: middle;
}
/* tblCalendar cell */
table.tblTimePicker td.tpTBB
{
	background-color: #152D28;
}

table.tblTimePicker
{
	background-color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
}
/* timeCell */
table.tblTimePicker td.timeCell
{
	cursor: pointer;
	background-color: #FFFFFF;
	color: #333333;
}
table.tblTimePicker td.timeCell:hover
{
	background-color: #D3D3D3;
}
table.tblTimePicker td.timeCellSel
{
	border: 1px solid #000000;
	background-color: #D3D3D3;
	color: #333333;
}
table.tblTimePicker td.timeCellEmpty
{
	cursor: default;
}