﻿/*************** UPRoundCorners ***************/
TABLE.UPRoundCorners
{
	border-collapse: collapse;
}
TABLE.UPRoundCorners TD.rcucNoFont
{
	font-size: 1px;
	line-height: 1px;
}
TABLE.UPRoundCorners TD.rcucTopLeft
{
	background-color: #ededed;
	border-top: #cccccc 1px solid;
	border-left: #cccccc 1px solid;
}
TABLE.UPRoundCorners TD.rcucTopRight
{
	background-color: #ededed;
	border-top: #cccccc 1px solid;
	border-right: #cccccc 1px solid;
}
TABLE.UPRoundCorners TD.rcucBottomLeft
{
	background-image: url(../../App_Themes/Main/Images/bottom_left.gif);
	width: 13px;
	height: 14px;
}
TABLE.UPRoundCorners TD.rcucBottomRight
{
	background-image: url(../../App_Themes/Main/Images/bottom_right.gif);
	width: 13px;
	height: 14px;
}
TABLE.UPRoundCorners TD.rcucTop
{
	height: 10px;
	background-color: #ededed;
	border-top: #cccccc 1px solid;
}
TABLE.UPRoundCorners TD.rcucBottom
{
	background-image: url(../../App_Themes/Main/Images/bottom_center.gif);
	height: 14px;
	background-repeat: repeat-x;
}
TABLE.UPRoundCorners TD.rcucLeft
{
	background-color: #ededed;
	border-left: #cccccc 1px solid;
}
TABLE.UPRoundCorners TD.rcucRight
{
	background-color: #ededed;
	border-right: #cccccc 1px solid;
}
TABLE.UPRoundCorners TD.rcucCenter
{
	background-color: #ebebeb;
}

DIV#divUserProfile
{
	/* background-color: #ededed;*/
}

INPUT.ReadOnly
{
	border: #A5ACB2 1px solid;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	background-color: #f3f3f3;
}

TEXTAREA.ReadOnly
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10pt;
	border: #A5ACB2 1px solid;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	background-color: #f3f3f3;
}

DIV#divUserProfile TABLE TD A
{
	line-height: 1.6em;
	color: #000000;
	text-decoration: underline;
}

DIV#divUserProfile TABLE TD A:hover
{
	color: #808080;
}

DIV#divUserProfile .left
{
	text-align: left;
	white-space: nowrap;
	font-weight: bold;
	font-size: 0.85em;
	padding-right: 10px;
}
DIV#divUserProfile .leftAlignRight
{
	text-align: right;
	white-space: nowrap;
	font-weight: bold;
	font-size: 0.85em;
	padding-right: 10px;
}

DIV#divUserProfile .right
{
	text-align: left;
	white-space: nowrap;
}

DIV#divUserProfile .center
{
	text-align: center;
	white-space: nowrap;
}

/* add this style to one of the above to
   add padding when just text and on input
   controls */
DIV#divUserProfile .textOnly
{
	padding-top: .25ex;
	padding-bottom: .25ex;
}

DIV#divUserProfile .instruction
{
	font-size: 0.8em;
	vertical-align: top;
	/*white-space: nowrap;*/
	padding-top: 0px;
	padding-bottom: 2px;
}

DIV#divUserProfile .h1
{
	color: #980815;
	text-transform: capitalize;
	padding-top: 10px;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 1.6em;
}

DIV#divUserProfile .h2
{
	color: #980815;
	padding-top: 8px;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 1.2em;
}

DIV#divUserProfile .h3
{
	color: #980815;
	padding-top: 4px;
	padding-bottom: 2px;
	font-weight: bold;
	font-size: 1em;
}

DIV#divUserProfile SPAN.suggest
{
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
}
