﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="OnLoadDropDownList.ascx.cs" Inherits="UserControl_OnLoadDropDownList" %>
<select id="sel1" runat="server">
	<option id="opt1" runat="server" value="[_LOAD_]" style="background-color:#e0e0e0;">Loading...</option>
</select>
