BODY
{
	font-size: 14px;
	background-image: url(Images/mast_main_bg.gif);
	margin: 8px;
	color: #00220B;
	font-family:  Verdana, Arial, sans-serif;
	background-color: #00CC44;
}
DIV.Mobile
{
	border: #004C1A 1px solid;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0px;
	width: 300px;
	list-style-type: none;
	background-color: #ffffff;
	-webkit-border-radius: 10px;
}
DIV.Mobile DIV.Content
{
	margin-left: 8px;
	margin-bottom: 12px;
}
A
{
	color: #000000;
}
H1
{
	margin-top: 10px;
	font-size: 16px;
	margin-bottom: 5px;
	margin-left: 12px;
	color: #00220B;
	text-shadow: 0px 1px 1px #ffffff;
}
SPAN
{
	padding: 5px;
}
SPAN A
{
	display: inline;
	font-weight: normal;
	background-image: none;
	color: #00220B;
	text-align: left;
	text-decoration: underline;
}
UL.Mobile
{
	padding: 0px;
	margin: 0px;
	width: 300px;
	list-style-type: none;
	background-color: #ffffff;
}
UL.Mobile LI
{
	padding-right: 12px;
	border-top: #007728 1px solid;
	padding-left: 12px;
	font-weight: normal;
	padding-bottom: 12px;
	color: #000000;
	padding-top: 12px;
	word-wrap: break-word;
}
UL.Mobile LI A
{
	background-position: right center;
	display: block;
	background-image: url(Images/disclosure.png);
	background-repeat: no-repeat;
	text-decoration: none;
	font-weight: bold;
}

UL.Mobile LI:first-child
{
	/*margin-top: 12px;*/
}

P
{
	padding: 5px;
	font-weight: normal;
	margin: 0px;
	color: #00220B;
	/*line-height: 20px;*/
}

P A
{
	display: inline;
	font-weight: normal;
	background-image: none;
	color: #00220B;
	text-decoration: underline;
}

P + P
{
	margin-top: 12px;
}

.centered
{
	text-align: center;
}

/****************** BusyIndicator2 ************************/
.BusyIndicator2
{
	/* display: none; *//* NOTE: Startup code will hide this. */
	position: absolute;
}
