﻿/*************** BlackRoundCorners ***************/
TABLE.BlackRoundCorners
{
	border-collapse: collapse;
}
TABLE.BlackRoundCorners TD.rcbNoFont
{
	font-size: 1px;
	line-height: 1px;
}
TABLE.BlackRoundCorners TD.rcbTopLeft
{
	background-image: url(../Main/Images/pu_top_left.gif);
	width: 7px;
}
TABLE.BlackRoundCorners TD.rcbTopRight
{
	background-image: url(../Main/Images/pu_top_right.gif);
	width: 7px;
}
TABLE.BlackRoundCorners TD.rcbBottomLeft
{
	background-image: url(../Main/Images/pu_bottom_left.gif);
	width: 7px;
	height: 7px;
}
TABLE.BlackRoundCorners TD.rcbBottomRight
{
	background-image: url(../Main/Images/pu_bottom_right.gif);
	width: 7px;
	height: 7px;
}
TABLE.BlackRoundCorners TD.rcbTop
{
	background-color: #000000;
	color: #ffffff;
}
TABLE.BlackRoundCorners TD.rcbBottom
{
	background-image: url(../Main/Images/pu_bottom.gif);
	background-color: #ffffff;
	background-position-y: bottom;
	background-repeat: repeat-x;
}
TABLE.BlackRoundCorners TD.rcbLeft
{
	background-image: url(../Main/Images/pu_left.gif);
	background-color: #ffffff;
	background-position-x: left;
	background-repeat: repeat-y;
}
TABLE.BlackRoundCorners TD.rcbRight
{
	background-image: url(../Main/Images/pu_right.gif);
	background-color: #ffffff;
	background-position-x: right;
	background-repeat: repeat-y;
}
TABLE.BlackRoundCorners TD.rcbCenter
{
	background-color: #ffffff;
}

TABLE.BlackRoundCorners TD.rcbTitleText
{
	background-color: #000000;
	color: #ffffff;
	padding-top: 3px;
	padding-bottom: 4px;
	vertical-align: middle;
}
TABLE.BlackRoundCorners TD.rcbNoTitleText   /* no text in title */
{ 
	font-size: 7px;
	line-height: 7px;
	background-color: #000000;
}
