<%@ Control Language="C#" AutoEventWireup="true" CodeFile="AccountOverview.ascx.cs" Inherits="controls_userlandingoverview" %>

<asp:Image ID="Image1" ImageUrl="~/SiteControls/AccountOverview/Images/placeholder_equipsearch.gif" width="696" height="382" runat="server" />
