﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EmailCC.ascx.cs" Inherits="EmailCCControl" ClassName="EmailCC"%>
<div class="emailelement"><span id="emailaddy" runat="server"></span> <input type="button" value="x" name="remove" /></div>