﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ErrorQuickLinks.ascx.cs" Inherits="Error_ErrorQuickLinks" %>
<div>
    <asp:LinkButton ID="lnkGoToScheduledNotifications" runat="server" Text="Scheduled Notifications" onclick="lnkGoToScheduledNotifications_Click" />&nbsp;&nbsp;
    <asp:LinkButton ID="lnkGoToErrors" runat="server" Text="Errors" onclick="lnkGoToErrors_Click" />&nbsp;&nbsp;
    <asp:LinkButton ID="lnkGoToActivity" runat="server" Text="Activity" onclick="lnkGoToActivity_Click" />
</div>