<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SectionTitle.ascx.cs" Inherits="controls_sectiontitle" %>

    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td colspan="2"><asp:Image ID="Image1" ImageUrl="~/App_Themes/Main/images/clearpixel.gif" width="1" height="10" runat="server" /></td>
      </tr>      
      <tr>
        <td width="99%" class="SectionTitleText"><asp:Label ID="SectionTitle" runat="server" /></td>
        <td width="1%"><asp:Image ID="Image2" ImageUrl="~/App_Themes/Main/images/clearpixel.gif" width="1" height="36" runat="server" /></td>
      </tr>
    </table>
